* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Quicksand", sans-serif;
}

.landing {
  min-height: 100vh;
  background-image: url("./Space.gif");
  background-size: cover;
  padding: 0rem 5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
  color: #fff;
}

#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  color: #fff;
}

.main-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: #fff;
  text-align: center;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: rgb(227, 242, 255);
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
}

.slider {
  background: rgb(127, 91, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: transparent !important;
  border-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}
.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(139, 138, 138, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: rgb(127, 91, 255);
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: rgb(167, 143, 255);
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: white;
  background-color: rgb(158, 109, 250);
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
